@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

.bord-marg {
	margin: .5em;
	border:1px solid;
}

.center-title{
	width: 100%;
	text-align: center;
}

.main-title {
	font-family: 'Rock Salt', cursive;
}
.small-remove {
	display: none;
}

.ben-graphic {
	position: relative;
	top: 40px;
}

#finger1 {

	-webkit-animation: finger-move-2 100ms linear alternate infinite;
	animation: finger-move-2 200ms linear alternate infinite;
}

@-webkit-keyframes finger-move-2 {

	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-1deg);
	}
	100% {
		transform: rotate(0deg);
	}

}
@keyframes finger-move-2 {

	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-1deg);
	}
	100% {
		transform: rotate(0deg);
	}

}

#finger2 {
	
	-webkit-animation: finger-move 400ms linear alternate infinite;
	animation: finger-move 400ms linear alternate infinite;
}
@-webkit-keyframes finger-move {

	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-1deg);
	}
	100% {
		transform: rotate(0deg);
	}

}

@keyframes finger-move {

	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-1deg);
	}
	100% {
		transform: rotate(0deg);
	}

}

#finger3 {
	
	-webkit-animation: finger-move-3 400ms linear alternate infinite;
	animation: finger-move-3 300ms linear alternate infinite;
}

@-webkit-keyframes finger-move-3 {

	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-.5deg);
	}
	100% {
		transform: rotate(0deg);
	}

}

@keyframes finger-move-3 {

	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-.5deg);
	}
	100% {
		transform: rotate(0deg);
	}

}



.bounding-box {
	position: relative;
}

.spool-left-small {
	position: absolute;
	top: 15%;
	right: 42%;
	width: 16%;
	animation: spin 900ms linear infinite;
}



.spool-right-small{

	position: absolute;
	top: 14%;
	right: 62%;
	width: 20%;
	animation: spin 2s linear infinite;
}
@keyframes spin{
	0% {
		transform: rotate(0deg);
	}
		
	100% {
		transform: rotate(360deg);

}
}

@media only screen and (min-width: 25em) {

	.ben-graphic {
	position: relative;
	top: 70px;
}
}

@media only screen and (min-width: 38em) {
	.medium-remove {
		display: none;

	}

	.small-remove {
		display: block;
	}

	.spool-left {
	position: absolute;
	top: 15%;
	right: 42%;
	width: 16%;
	animation: spin 900ms linear infinite;

}

.spool-right {
	position: absolute;
	top: 14%;
	right: 61%;
	width: 20%;
	animation: spin 2s linear infinite;

}

@keyframes spin{
	0% {
		transform: rotate(0deg);
	}
		
	100% {
		transform: rotate(360deg);

}